includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database

    # Level of strictness (0 is the loosest, 9 is the strictest)
    level: 5

    ignoreErrors:
        - '#PHPDoc tag @var#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
